* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container, .container-2, .container-3 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;

    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.report-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px #ED7D31;
}
header h1 {
    margin-right: 20px;
}
.logo {
    width: 100px;
    height: auto;
    margin-left: 20px;
}
h1, h2 {
    color: #ED7D31;
    text-align: center;
}
input[type="file"] {
    display: none;
}
label[for="fileInput"],
button {
    cursor: pointer;
    background-color: #0F4C81;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    width: 150px;
    text-align: center;

    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label[for="fileInput"]:hover,
button:hover {
    background-color: #3382CC;
    border-color: #3382CC;
}

footer {
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 -2px 4px #ED7D31;
}

#reportTable, #userTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#reportTable th,
#reportTable td ,
#userTable th,
#userTable td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;

}

#reportTable th, #userTable th {
    background-color: #f8f9fa;
    color: #0F4C81;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    button,
    label[for="fileInput"] {
        font-size: 0.9em;
    }
}
